<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SANA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <style>
      .navbar-dark .navbar-nav .nav-item.active a.nav-link {
        background-color: green; 
        
      }
      .nav-item.active{
        background-color: yellow;
        color: white;
      }
     


      .navbar {
    background-color: transparent; /* Light gray background color */
    box-shadow: 0 2px 4px green; /* Add a subtle shadow */
    color: green;
  }

 
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand"  href="{% url 'admin_home' %}" >ADMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.path == '/addcourse' %}active{% endif %}">
              <a class="nav-link   text-light" href="{% url 'add_category' %}">ADD CATAGOARY <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% if request.path == '/addstud' %}active{% endif %}">
              <a class="nav-link  text-light" href="{% url 'add_product' %}">ADD PRODUCTS</a>
            </li>
            <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link text-warning" href="{% url 'show_product' %}">SHOW PRODUCTS</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link text-warning" href="{% url 'user_details' %}">USER DETAILS</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link text- text-light" href="">STAFF DETAILS</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link  text-light" href="">PIE CHART</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link  text-success" href="">TODAY'S ORDERS</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link  text-success" href="">TOTAL COLLECTIONS</a>
              </li>
              <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
                <a class="nav-link text-light" href="{% url 'log_out' %}">SANA GROUP</a>
              </li>
            </li>
            <li class="nav-item {% if request.path == '/show' %}active{% endif %}">
              <a class="nav-link text-danger" href="{% url 'log_out' %}">LOGOUT</a>
            </li>
          </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
</body>
</html>
